<h3>Place 10 Ships on your board</h3>

<table class="board human-board">
  <tr class="board-row">
    {{board-cell row=1 column=1 board=board}}
    {{board-cell row=1 column=2 board=board}}
    {{board-cell row=1 column=3 board=board}}
    {{board-cell row=1 column=4 board=board}}
    {{board-cell row=1 column=5 board=board}}
  </tr>
  <tr class="board-row">
    {{board-cell row=2 column=1 board=board}}
    {{board-cell row=2 column=2 board=board}}
    {{board-cell row=2 column=3 board=board}}
    {{board-cell row=2 column=4 board=board}}
    {{board-cell row=2 column=5 board=board}}
  </tr>
  <tr class="board-row">
    {{board-cell row=3 column=1 board=board}}
    {{board-cell row=3 column=2 board=board}}
    {{board-cell row=3 column=3 board=board}}
    {{board-cell row=3 column=4 board=board}}
    {{board-cell row=3 column=5 board=board}}
  </tr>
  <tr class="board-row">
    {{board-cell row=4 column=1 board=board}}
    {{board-cell row=4 column=2 board=board}}
    {{board-cell row=4 column=3 board=board}}
    {{board-cell row=4 column=4 board=board}}
    {{board-cell row=4 column=5 board=board}}
  </tr>
  <tr class="board-row">
    {{board-cell row=5 column=1 board=board}}
    {{board-cell row=5 column=2 board=board}}
    {{board-cell row=5 column=3 board=board}}
    {{board-cell row=5 column=4 board=board}}
    {{board-cell row=5 column=5 board=board}}
  </tr>
</table>
